@use "@src/shared/scss/logic/function";

.page {
	width: 100%;
	margin-block: function.vw(30, 1920);

	@media (max-width: 1440px) {
		margin-block: function.vw(30, 1440);
	}
	@media (max-width: 960px) {
		margin-block: function.vw(30, 960);
	}
	@media (max-width: 720px) {
		margin-block: function.vw(30, 720);
	}
	@media (max-width: 540px) {
		margin-block: function.vw(30, 540);
	}
	@media (max-width: 420px) {
		margin-block: function.vw(30, 420);
	}
}